LGD_API_KEY=your_private_lgd_api_key
LGD_CERTIFIED_URL=https://lgdusallc.com/developer-api/diamond?type=certified
LGD_CERTIFIED_COLOR_URL=https://lgdusallc.com/developer-api/diamond?type=certified_color
RESEND_API_KEY=your_private_resend_api_key
RESEND_TO_EMAIL=thedonjewelersandjewelry@gmail.com
RESEND_FROM_EMAIL=The Don Jewelers & Jewelry <onboarding@resend.dev>
